# Python bytecode and cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.pyc
*.egg-info/
*.egg
*.log
*.env
openarc_api.log
openarc_config.json
CONTRIBUTING-wip.md

docs/superpowers
docker-compose.override.yaml
.pytest_cache/
.mypy_cache/
.venv/
.vscode/
.idea/
.builds/
.cursor/
openarc_bench.db
gpt-oss.ipynb
gpt_oss_convert.py
scratchpad.md
site/
.cache/
build/
dist/
/models/**/*
